
body { 
  background-image: url(1700366994218.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
}

#two {
  text-align: right;
}

#tree {
  text-align: center;
}

#four {
  text-align: center;
}

#five {
  text-align: right;
}


#body2 {
  background-color: black;
}

.button{
  padding: 6px 24px;
  border: 2px solid #fff;
  background: whitesmoke;
  border-radius: 6px;
  cursor: pointer;
}


.button:active {
  transform: scale(0.98);
}

#de {
  text-align: right;
}